.weatherService {
  background-color: #112345;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(232, 29, 29);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 14px;
  color: #1ec8dbfb;
  background-color: #232627;
}

button:hover {
  background-color: #0056b3;
}



