
/* WeatherInfo.module.css */

.weatherInfo {
  background-color: #141314a9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(237, 37, 23, 0.966);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #149bbc;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.weatherIcon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  filter: drop-shadow(0 0 5px rgba(227, 234, 36, 0.994));
}

.weatherDetails {
  display: flex;
  flex-wrap: wrap; /* Wrap the weather info horizontally */
  justify-content: center;
  margin: 20px 0;
}

.iconInfo {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #131111;
  box-shadow: 0 4px 6px rgba(239, 12, 12, 0.1);
}

.weatherInfoText {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  color:#149bbc;
}

.time {
  margin-top: 10px;
  font-size: 14px;
  color: #f70e0ef4;
}

p {
  margin: 5px 0;
}

.weatherIcon {
  /* Add your styles for the weather icons here */
  font-size: 24px; /* Set the font size for the icons */
}

.temperatureIcon {
  color: rgb(237, 20, 49); /* Set the color for the temperature icon */
}

.windIcon {
  color:   light blue; /* Set the color for the wind icon */
}

.rainIcon {
  color:  cyan; /* Set the color for the rain icon */
}

.cloudIcon {
  color: gray; /* Set the color for the cloud icon */
}

.humidityIcon {
  color:green ; /* Set the color for the humidity icon */
}
