
/* App.module.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #303434;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.appHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

/* Styling for the main content area */
.weatherContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-top: 20px;
}

/* Styling for the form input */
.weatherForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.weatherForm input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #e9ecf3db;
  border-radius: 5px;
  margin-bottom: 10px;
}

.weatherForm button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #1e1a1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.weatherForm button:hover {
  background-color: #0056b3;
}

/* Add more styles here as needed */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
